week_6_stream_processing/datasets/fhv_tripdata_2019-01.csv.gz filter=lfs diff=lfs merge=lfs -text
week_6_stream_processing/datasets/green_tripdata_2019-01.csv.gz filter=lfs diff=lfs merge=lfs -text
week_6_stream_processing/datasets/yellow_tripdata_2019-01.csv.gz filter=lfs diff=lfs merge=lfs -text
